// todo: После сдачи (когда для себя буду макет переделывать:
// 1) при экранах 768 и меньше сделать плашку с верхним меню сверху постоянную или прятать кнопку меню, а взамен показывать стрелочку в верху для его вызова https://www.youtube.com/watch?v=zs1r8yafTE8.
// 2) убрать скрин 767
// 3) возможно переверстать футер
// 4) возможно адаптив фоновых картинок переделать
// 5) картинки для мелких экранов заменить на меньшие по размеру
// 6) значок бкргер меню при светлой теме сделать золотым

@font-face {
  font-family: Merriweather;
  font-style: normal;
  font-weight: 700;
  src: url("../assets/fonts/merriweather-v28-latin_cyrillic-700.eot") format("woff");
  src: url("../assets/fonts/merriweather-v28-latin_cyrillic-700.svg") format("svg");
  src: url("../assets/fonts/merriweather-v28-latin_cyrillic-700.ttf") format("ttf");
  src: url("../assets/fonts/merriweather-v28-latin_cyrillic-700.woff") format("woff");
  src: url("../assets/fonts/merriweather-v28-latin_cyrillic-700.woff2") format("woff2");
  font-weight: 700;
}

@font-face {
  font-family: Inter;
  font-style: normal;
  font-weight: 400;
  src: url("../assets/fonts/inter-v7-latin_cyrillic-regular.eot") format("woff");
  src: url("../assets/fonts/inter-v7-latin_cyrillic-regular.svg") format("svg");
  src: url("../assets/fonts/inter-v7-latin_cyrillic-regular.ttf") format("ttf");
  src: url("../assets/fonts/inter-v7-latin_cyrillic-regular.woff") format("woff");
  src: url("../assets/fonts/inter-v7-latin_cyrillic-regular.woff2") format("woff2");
}

@import "normalize.scss";
@import "variables.scss";

/*---------- general properties ----------*/

html {
  scroll-behavior: smooth;
}

@media screen and (prefers-reduced-motion: reduce) {
  html {
    scroll-behavior: auto;
  }
}

.body {
  font-family: "Inter", sans-serif;
  font-size: $font-text;
  font-style: normal;
  font-weight: 400;
  line-height: 40px;
  text-align: left;
  background-color: $color-dark;
}

.body.open {
  overflow: hidden;
}

.menu-burger,
.body.lite-theme {
  background-color: $color-white;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 20px;
  color: $color-white;
  overflow: hidden;
}

.section:not(:last-of-type) {
  margin-bottom: 100px;
}

.section__title {
  display: flex;
  flex-direction: row;
  margin-bottom: 60px;

  font-family: "Merriweather", serif;
  font-size: $font-title;
  font-weight: 700;
  line-height: 80px;
  text-align: center;
  color: $color-gold;
}

.section__title::after {
  content: "";
  flex: 1 1;
  border-bottom: 3px solid $color-gold;
  margin: auto;
  // margin-right: 28.5%;
  margin-right: 25%;
  margin-left: 20px;
}

.section__title::before {
  content: "";
  flex: 1 1;
  border-bottom: 3px solid $color-gold;
  margin: auto;
  margin-right: 20px;
  // margin-left: 28.5%;
  margin-left: 25%;
}

.btn {
  width: 220px;
  height: 55px;
  padding: 5px;
  overflow: hidden;
  font-size: $font-text;
  text-align: center;
  background-color: $color-gold;
  color: $color-dark;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}
@media (any-pointer: fine) and (any-hover: hover) {
  .btn:hover:not(.active) {
    color: $color-white;
    opacity: 0.8;
  }
}
.btn:active {
  font-weight: 700;
  background-image: radial-gradient(ellipse farthest-corner at 70% 70%, $color-gold, $color-dark);
  border: none;
  color: $color-dark;
  transition: none;
  -webkit-transition: none;
  -moz-transition: none;
  -ms-transition: none;
  -o-transition: none;
}

.link,
.link:visited {
  font-family: Inter;
  font-size: $font-text;
  font-weight: 400;
  line-height: 50px;
  text-align: left;
  color: $color-white;
}

@media (any-pointer: fine) and (any-hover: hover) {
  .link:hover {
    color: $color-gold;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
  }
}
.link:active {
  font-weight: 700;
  color: transparent;
}
/*---------- end general properties ----------*/

/*---------- light-theme ----------*/
.body.light-theme {
  background-color: $color-white;
}

.body.light-theme .footer__inner {
  background-color: $color-dark;
  margin-left: -20px;
  margin-right: -20px;
  padding-left: 20px;
  padding-right: 20px;
}

.body.light-theme .portfolio-tabs__btn,
.body.light-theme .section__title,
.body.light-theme .skills-wrap__title,
.body.light-theme .skills-wrap__text,
.body.light-theme .price__title,
.body.light-theme .price__item-description {
  color: $color-dark;
}

.body.light-theme .portfolio-tabs__btn.active {
  color: $color-white;
}

@media (any-pointer: fine) and (any-hover: hover) {
  .body.light-theme .portfolio-tabs__btn:hover:not(.active) {
    border: 2px dashed;
    color: $color-gold;
  }
}

.body.light-theme .portfolio-tabs__btn.active {
  color: $color-dark;
  background-color: $color-gold;
}

.body.light-theme .btn:active {
  font-weight: 700;
  background-image: radial-gradient(ellipse farthest-corner at 70% 70%, $color-gold, $color-white);
}

@media (max-width: 768px) {
  .body.light-theme .nav__list.active {
    background-color: $color-white;
  }

  .body.light-theme .nav__list.active .nav__link {
    color: $color-dark;
  }

  .body.light-theme:not(.open) .nav__link {
    color: $color-white;
  }

  .body.light-theme .menu-btn.active > span,
  .body.light-theme .menu-btn.active > span::before,
  .body.light-theme .menu-btn.active > span::after {
    background-color: $color-dark;
  }
}
/*---------- end light-theme ----------*/

/*---------- header ----------*/
.menu-burger,
.menu-btn {
  display: none;
}

.header {
  height: 90px;
  background-image: url(../assets/img/background/bg.jpg);
  background-repeat: no-repeat;
  background-position: center 0;
}

.logo {
  margin-top: 20px;
  float: left;
  width: 50px;
  height: 50px;
  cursor: pointer;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}

.icon-theme {
  margin-top: 20px;
  margin-left: 30px;
  width: 45px;
  height: 45px;
  cursor: pointer;
  color: $color-white;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}

@media (any-pointer: fine) and (any-hover: hover) {
  .logo:hover {
    filter: invert(26%) sepia(15%) saturate(638%) hue-rotate(7deg) brightness(92%) contrast(87%);
  }
}

.logo:active {
  filter: invert(60%) sepia(15%) saturate(638%) hue-rotate(7deg) brightness(92%) contrast(87%);
  -webkit-filter: invert(60%) sepia(15%) saturate(638%) hue-rotate(7deg) brightness(92%) contrast(87%);
}

@media (any-pointer: fine) and (any-hover: hover) {
  .icon-theme:hover {
    filter: invert(26%) sepia(15%) saturate(638%) hue-rotate(7deg) brightness(92%) contrast(87%);
  }
}

.icon-theme:active {
  filter: invert(60%) sepia(15%) saturate(638%) hue-rotate(7deg) brightness(92%) contrast(87%);
  -webkit-filter: invert(60%) sepia(15%) saturate(638%) hue-rotate(7deg) brightness(92%) contrast(87%);
}

.header-nav {
  display: flex;
  justify-content: flex-end;
}

.nav__list,
.language__list {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__list {
  padding-right: 10px;
}

.nav__link {
  display: block;
  line-height: 50px;
}

.nav__link {
  display: block;
  padding-right: 15px;
  padding-left: 15px;
}

.language__link,
.language__item {
  display: block;
  padding: 0 4px;
  font-family: Inter;
  font-size: $font-text;
  font-weight: 700;
  line-height: 50px;
  text-align: center;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}

.language__link,
.language__item:last-of-type {
  padding-right: 0;
}

.language__item .language__link.active,
.language__item .language__link.active:visited {
  color: $color-gold;
  cursor: default;
}
/*---------- end header ----------*/

/*---------- section hero ----------*/
.hero {
  height: 910px;
  padding-top: 160px;
  margin-bottom: 10px;
  background-image: url(../assets/img/background/bg.jpg);
  background-position: center -90px;
  background-repeat: no-repeat;
}

.main__inner {
  width: 525px;
  padding-left: 60px;
}

.main__title {
  padding-bottom: 10px;
  font-family: "Merriweather", serif;
  font-size: $font-big-title;
  font-weight: 700;
  line-height: 120px;
}

.main__text {
  padding-bottom: 25px;
  font-family: "Inter", sans-serif;
  font-size: $font-text;
  font-weight: 400;
  line-height: 40px;
  text-align: left;
}
/*---------- end section hero ----------*/

/*---------- section skills ----------*/
.skills-wrap {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 0 20px 10px;
  text-align: center;
}

.skills-wrap__item {
  flex: 0 0 280px;
}

.skills-wrap__img {
  margin-bottom: 50px;
  height: 50px;
}

.skills-wrap__title {
  margin-bottom: 20px;
  font-weight: 700;
  line-height: 40px;
}

.skills-wrap__text {
  font-size: $font-item-text;
  line-height: 36px;
}
/*---------- end section skills ----------*/

/*---------- section portfolio ----------*/
.portfolio-tabs {
  display: flex;
  margin-bottom: 60px;
  justify-content: center;
  gap: 5px;
}

.portfolio-tabs__btn {
  border: 2px solid $color-gold;
  color: $color-gold;
  background-color: transparent;
}
@media (any-pointer: fine) and (any-hover: hover) {
  .portfolio-tabs__btn:hover:not(.active) {
    border: 2px solid $color-white;
  }
}
.portfolio-tabs__btn.active {
  color: $color-dark;
  background-color: $color-gold;
  border: none;
  cursor: default;
}

.portfolio-tabs__btn.active:active {
  background-image: none;
}

.portfolio-photos {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 25px;
}

.portfolio-img {
  width: 450px;
  height: 560px;
}
/*---------- end section portfolio ----------*/

/*---------- section video ----------*/
.video-wrapper {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 0;
}

.video__player-hover-btn {
  position: absolute;
  background-color: transparent;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}
@media (any-pointer: fine) and (any-hover: hover) {
  .video__player-hover-btn:hover {
    filter: invert(26%) sepia(15%) saturate(638%) hue-rotate(7deg) brightness(92%) contrast(87%);
  }
}
.video__player-hover-btn:active {
  filter: invert(60%) sepia(15%) saturate(638%) hue-rotate(7deg) brightness(92%) contrast(87%);
  -webkit-filter: invert(60%) sepia(15%) saturate(638%) hue-rotate(7deg) brightness(92%) contrast(87%);
}
/*---------- end section video ----------*/

/*---------- section price ----------*/
.price-wrap {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  text-align: center;
}

.price__item {
  flex: 0 0 450px;
  padding: 43px 0;
  border: 2px solid $color-gold;
}

.price__title {
  padding-bottom: 20px;
  font-family: "Merriweather", serif;
  font-size: $font-price-title;
  font-weight: 700;
  line-height: 56px;
}

.price__value {
  display: block;
  padding-bottom: 20px;
  font-family: "Merriweather", serif;
  font-size: $font-price-value;
  font-weight: 700;
  line-height: 48px;
  color: $color-gold;
}

.price__item-description {
  display: block;
  font-size: $font-item-text;
  line-height: 36px;
  text-align: center;
}

.btn__price {
  margin-top: 40px;
}
/*---------- end section price ----------*/

/*---------- section contacts ----------*/
.contacts .container {
  margin-top: -3px;
  padding-top: 60px;
  padding-bottom: 195px;
  background: url(../assets/img/background/contacts.jpg);
  background-size: auto 700px;
  background-position: center center;
  background-repeat: no-repeat;
}

.contacts-wraper {
  max-width: 450px;
  min-width: 300px;
  margin-right: 0;
  margin-left: auto;
}

.contacts__title {
  margin-bottom: 40px;
  font-family: "Merriweather", serif;
  font-size: $font-title;
  font-weight: 700;
  line-height: 80px;
  color: $color-gold;
}

.contacts-item {
  display: block;
  width: 100%;
  max-width: 450px;
  padding: 0 12px;
  height: 50px;
  margin-bottom: 20px;
  font-family: "Inter", sans-serif;
  font-size: $font-text;
  font-weight: 400;
  line-height: 40px;
  color: $color-white;
  border: 2px solid $color-gold;
  background-color: transparent;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}

@media (any-pointer: fine) and (any-hover: hover) {
  .form__item:hover {
    border: 3px solid $color-white;
    cursor: pointer;
  }
}
.form__item:focus {
  border: 3px solid $color-white;
  box-shadow: inset 0 0 10px 0.5px $color-gold;
}
@media (any-pointer: fine) and (any-hover: hover) {
  .form__item:not(:hover) {
    border-color: $color-gold;
  }
}
.contacts-item::placeholder {
  color: $color-gold;
  font-size: $font-text;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}

.contacts-item:focus::placeholder {
  font-size: $font-item-text;
  color: $color-dark;
}

.contacts-item.contacts-item__textarea {
  height: 100px;
  resize: none;
  line-height: 40px;
}

.contacts-item__btn {
  margin-top: 10px;
  text-align: center;
  // padding: 8px 16px;
}
/*---------- end section contacts ----------*/

/*---------- footer ----------*/
.footer__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 150px;
  vertical-align: Top;
  color: $color-white;
}

.copyright {
  word-spacing: 15px;
}

.rsschool {
  padding-left: 17px;
}

.social-list {
  display: inline-flex;
  justify-content: flex-end;
  align-items: center;
  margin-top: 15px;
  gap: 20px;
}

@media (any-pointer: fine) and (any-hover: hover) {
  .social-link__icon:hover {
    filter: invert(26%) sepia(15%) saturate(638%) hue-rotate(7deg) brightness(92%) contrast(87%);
    -webkit-filter: invert(26%) sepia(15%) saturate(638%) hue-rotate(7deg) brightness(92%) contrast(87%);
  }
}
/*---------- end footer ----------*/

/*================================== ADAPTIVE =================================================*/

/*+++++++++++++++++++++++ screen 768 - 1440 ++++++++++++++++++++++++++++*/
@media (max-width: 1440px) {
  /*---------- skills ----------*/
  .skills-wrap__item {
    justify-content: space-around;
    min-width: 50%;
    margin: 0 auto;
  }
  .skills-wrap__text {
    padding-bottom: 40px;
  }
  /*---------- portfolio ----------*/
  .portfolio-tabs {
    flex-wrap: wrap;
    width: 600px;
    margin: 0 auto;
    margin-bottom: 50px;
  }

  /*---------- video ----------*/
  .video__player {
    min-width: 768px;
    height: auto;
    padding-left: 0;
    padding-right: 0;
    margin: 0;
  }
}

/*+++++++++++++++++++++++ screen 1389 ++++++++++++++++++++++++++++*/
@media (max-width: 1389px) {
  /*---------- price ----------*/
  .price-wrap {
    justify-content: space-around;
  }

  .price__item:not(:last-of-type) {
    margin-bottom: 50px;
  }
}

/*+++++++++++++++++++++++ screen 1200 ++++++++++++++++++++++++++++*/
@media (max-width: 1200px) {
  .hero,
  .header {
    background-size: auto 90%;
  }

  .hero {
    background-position: -5px -30px;
    height: 875px;
    margin-top: -90px;
    // margin-bottom: 100px;
  }
}

/*+++++++++++++++++++++++ screen 960 ++++++++++++++++++++++++++++*/
@media (max-width: 960px) {
  /*---------- Header Hello ----------*/
  .hero,
  .header {
    background-size: auto 750px;
  }

  .hero {
    background-position: 0px -30px;
    height: 690px;
    margin-top: -90px;
    margin-bottom: 100px;
  }

  /*---------- price ----------*/
  .price-wrap {
    justify-content: space-between;
  }

  .price__item {
    margin: 0 auto;
  }
}
/*+++++++++++++++++++++++ screen 480 - 768 ++++++++++++++++++++++++++++*/
@media (max-width: 768px) {
  $font-big-title: 32px;
  $font-title: 32px;

  /*---------- geniral ----------*/
  .section__title {
    font-size: $font-title;
    line-height: 40px;
    margin-bottom: 65px;
  }

  .section__title::after,
  .section__title::before {
    border-bottom: 2px solid $color-gold;
  }

  /*---------- Header Hello ----------*/
  .hero,
  .header {
    background-size: auto 620px;
  }

  .hero {
    background-position: -5px -30px;
    height: 590px;
    margin-top: -90px;
  }

  .logo {
    margin-left: 40px;
  }

  .language__list {
    padding-right: 19px;
  }

  .language__link {
    display: block;
    padding: 0 8px;
  }

  .language__link:last-of-type {
    padding-right: 7px;
  }

  .icon-theme {
    margin-right: 124px;
    margin-left: 0px;
  }

  .main__inner {
    width: 430px;
    padding-left: 40px;
    margin-top: 8px;
  }
  .main__title {
    padding-bottom: 20px;
    font-size: $font-big-title;
    font-weight: 400;
    line-height: 64px;
  }

  .main__text {
    padding-bottom: 60px;
    font-family: "Inter", sans-serif;
    line-height: 24px;
  }

  /*---------- skills ----------*/
  .skills-wrap {
    margin: 0 auto;
    padding-bottom: 3px;
  }

  .skills-wrap__item {
    padding-right: 10px;
    padding-left: 10px;
  }

  .skills-wrap__img {
    margin-bottom: 31px;
  }

  .skills-wrap__title {
    margin-right: 5px;
  }

  .skills-wrap__text {
    width: 285px;
    margin-left: 17px;
    line-height: 21.78px;
    padding-bottom: 76px;
  }

  /*---------- portfolio ----------*/
  .portfolio-tabs {
    padding-top: 5px;
    padding-bottom: 10px;
  }

  /*---------- video ----------*/
  .video__player {
    margin: 5px 15px 1px 57px;
    min-width: 810px;
    // width: 768px;
    height: 418px;
  }

  .video__player-hover-img {
    margin-right: 5px;
    margin-top: 7px;
    width: 65px;
    height: 65px;
  }

  /*---------- price ----------*/
  .price-wrap {
    padding-top: 4px;
  }

  // .price__item:not(:first-of-type) {
  //   margin: 0 auto;
  // }
  .price__item,
  .price__item:not(:first-of-type)
  // .price__item:first-of-type
  {
    flex-basis: 418px;
    margin: 0 auto 50px;
    padding: 41px 0;
    border: 2px solid $color-gold;
  }

  .price .container {
    margin-bottom: 10px;
  }

  /*---------- contacts ----------*/

  .contacts .container {
    margin-top: -70px;
    padding-bottom: 111px;
    background-position: -233px 0px;
    background-size: auto 600px;
  }

  .contacts-wraper {
    margin-right: auto;
    margin-left: auto;
  }

  .contacts__title {
    text-align: center;
    font-size: $font-title;
    line-height: 64px;
  }

  .contacts-item__btn {
    display: block;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
  }

  /*---------- footer ----------*/
  .footer__inner {
    flex-direction: column;
    padding: 20px 0;
    height: 190px;
  }

  .copyright .link__footer {
    line-height: 24px;
  }
  .rsschool .link__footer {
    line-height: 24px;
  }

  .rsschool {
    margin-top: -5px;
    padding-left: 0px;
  }

  .social-list .link__footer {
    gap: 20px;
  }

  /*---------- burger menu ----------*/
  .menu-burger {
    display: block;
  }

  .menu-btn {
    display: block;
    display: flex;
    align-items: center;
    position: fixed;
    top: 30px;
    right: 64px;
    width: 50px;
    height: 28px;
    cursor: pointer;
    z-index: 100;
  }

  .menu-btn > span,
  .menu-btn > span::before,
  .menu-btn > span::after {
    display: block;
    position: absolute;
    width: 100%;
    height: 3px;
    background-color: $color-white;
    transition-duration: 0.25s;
  }

  .menu-btn > span::before {
    content: "";
    top: -12px;
  }
  .menu-btn > span::after {
    content: "";
    top: 13px;
  }

  .menu-btn.active > span {
    width: 110%;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
  }
  .menu-btn.active > span::before {
    width: 110%;
    top: 0;
    transform: rotate(0);
    -webkit-transform: rotate(0);
    -moz-transform: rotate(0);
    -ms-transform: rotate(0);
    -o-transform: rotate(0);
  }
  .menu-btn.active > span::after {
    width: 110%;
    top: 0;
    transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
  }

  .nav__list {
    position: fixed;
    // overflow: auto; // полоса прокрутки появляется
    flex-direction: column;
    top: 0;
    right: -100%;
    width: 81%;
    height: 100%;
    z-index: 10;
    margin: 0;
    padding: 124px 22px 24px 13.3%;
    background-color: $color-dark;
    transition: right 0.3s ease 0s;
    -webkit-transition: right 0.3s ease 0s;
    -moz-transition: right 0.3s ease 0s;
    -ms-transition: right 0.3s ease 0s;
    -o-transition: right 0.3s ease 0s;
  }

  .nav__list.active {
    right: 0;
  }

  .nav__link,
  .nav__item {
    display: block;
    width: 100%;
    padding: 1px 13px 9px;
    color: $color-white;
    font-family: "Inter", sans-serif;
    font-size: $font-burger;
    font-weight: 400;
    line-height: 73px;
    transition-duration: 0.25s;
  }
  /*---------- end burger menu ----------*/
}

/*+++++++++++++++++++++++ screen 768 - 766 ++++++++++++++++++++++++++++*/
/*---------- geniral ----------*/
@media (max-width: 766px) {
  .video__player {
    margin: 5px auto 0;
    min-width: 480px;
    height: auto;
  }

  /*---------- geniral ----------*/
  .section__title {
    font-size: $font-title;
    line-height: 40px;
    margin-bottom: 65px;
  }
}

/*+++++++++++++++++++++++ screen 620 ++++++++++++++++++++++++++++*/
@media (max-width: 620px) {
  /*---------- geniral ----------*/
  $font-big-title: 28px;
  $font-title: 32px;
  $font-text: 18px;

  .section__title {
    font-size: $font-title;
  }

  .section__title::after {
    margin-right: 20%;
    margin-left: 15px;
  }

  .section__title::before {
    margin-right: 15px;
    margin-left: 20%;
  }

  .section:not(:last-of-type) {
    margin-bottom: 60px;
  }

  /*---------- Header Hello ----------*/
  .hero,
  .header {
    background-size: auto 480px;
  }

  .hero {
    background-position: 0 -30px;
    margin-top: -90px;
    margin-bottom: 0px;
    padding-top: 106px;
  }

  .logo {
    margin: 20px 0 0 10px;
    width: 40px;
    height: 40px;
  }

  .language__list {
    margin-top: 15px;
  }

  .main__inner {
    width: 300px;
    padding-left: 10px;
  }

  .main__title {
    padding-bottom: 5px;
    line-height: 50px;
  }

  .main__text {
    padding-bottom: 20px;
    font-size: $font-text;
    line-height: 26px;
  }

  /*---------- skills ----------*/
  .skills-wrap__text {
    padding-left: 5px;
    padding-right: 5px;
    margin-left: 0px;
  }

  .portfolio-tabs {
    flex-wrap: wrap;
    width: 350px;
    margin: 0 auto;
    margin-bottom: 30px;
  }
  .portfolio-tabs__btn {
    margin-bottom: 10px;
  }

  /*---------- contacts ----------*/
  .contacts-wraper {
    width: 100%;
    padding: 30px 10px 19px;
    background: rgba(0, 0, 0, 0.4);
  }
}
/*+++++++++++++++++++++++ screen 320 - 480 ++++++++++++++++++++++++++++*/
@media (max-width: 480px) {
  /*---------- geniral ----------*/
  $font-big-title: 28px;
  $font-text: 16px;

  .container {
    padding: 0px 10px;
  }

  .section:not(:last-of-type) {
    margin-bottom: 50px;
  }

  .section__title {
    margin-bottom: 35px;
  }

  .btn {
    width: 200px;
    height: 50px;
    padding: 5px;
    overflow: hidden;
    font-size: $font-text;
  }

  /*---------- Header Hello ----------*/

  .hero,
  .header {
    background-size: auto 470px;
  }

  .hero {
    background-position: -10px -30px;
    height: 430px;
    margin-top: -90px;
    margin-bottom: 100px;
    padding-top: 80px;
  }

  .logo {
    margin: 15px 0 0 10px;
    width: 30px;
    height: 30px;
  }

  .language__list {
    margin-top: 5px;
    font-size: $font-text;
  }

  .main__inner {
    width: 280px;
    padding-right: 5px;
  }

  .main__title {
    padding-bottom: 5px;
    font-size: $font-big-title;
    line-height: 50px;
  }

  .main__text {
    padding-bottom: 20px;
    font-size: $font-text;
    line-height: 26px;
  }

  .portfolio-img {
    width: 100%;
    height: auto;
  }

  /*---------- burger menu ----------*/
  .menu-btn > span::before {
    top: -10px;
  }

  .menu-btn > span::after {
    top: 10px;
  }

  .menu-btn {
    top: 25px;
    right: 34px;
    width: 45px;
    height: 23px;
  }

  .nav__list {
    width: 100%;
    padding: 70px 22px 24px 30px;
  }

  .menu-btn > span,
  .menu-btn > span::before,
  .menu-btn > span::after {
    width: 100%;
  }
}

/*+++++++++++++++++++++++ screen 450 ++++++++++++++++++++++++++++*/
@media (max-width: 450px) {
  $font-price-title: 24px;
  $font-price-value: 18px;

  /*---------- Header Hello ----------*/
  .hero,
  .header {
    background-size: auto 350px;
  }

  .hero {
    background-position: -10px -30px;
    height: 350px;
    margin-top: -90px;
    margin-bottom: 50px;
    padding-top: 50px;
  }

  .main__title {
    line-height: 45px;
  }

  .price__item,
  .price__item:not(:first-of-type) {
    flex: 0 1 350px;
    padding: 35px 0;
  }

  .price__title {
    padding-bottom: 15px;
    font-size: $font-price-title;
    line-height: 45px;
  }

  .price__value {
    padding-bottom: 15px;
    font-size: $font-price-value;
    line-height: 40px;
  }

  .price__item-description {
    font-size: $font-item-text;
    line-height: 30px;
  }

  .btn__price {
    margin-top: 40px;
  }
}
/*+++++++++++++++++++++++ screen 320 ++++++++++++++++++++++++++++*/
@media (max-width: 320px) {
  /*---------- geniral ----------*/
  .section__title::after {
    visibility: hidden;
    // margin-right: 20%;
    // margin-left: 15px;
  }

  .section__title::before {
    visibility: hidden;
    // margin-right: 15px;
    // margin-left: 20%;
  }

  /*---------- Header Hello ----------*/
  .hero,
  .header {
    background-size: auto 320px;
  }

  .hero {
    background-position: -10px -30px;
    height: 375px;
    margin-top: -90px;
    margin-bottom: 0px;
    // margin-bottom: 150px;
    // padding-top: 100px;
  }

  /*---------- skills ----------*/
  /*---------- portfolio ----------*/
  /*---------- price ----------*/
  .price__item {
    flex: 0 1 310px;
    padding: 35px 0;
  }
  /*---------- video ----------*/
  /*---------- contacts ----------*/
  /*---------- footer ----------*/
}
