@charset "UTF-8";
@font-face {
  font-family: Merriweather;
  font-style: normal;
  font-weight: 700;
  src: url("../assets/fonts/merriweather-v28-latin_cyrillic-700.eot") format("woff");
  src: url("../assets/fonts/merriweather-v28-latin_cyrillic-700.svg") format("svg");
  src: url("../assets/fonts/merriweather-v28-latin_cyrillic-700.ttf") format("ttf");
  src: url("../assets/fonts/merriweather-v28-latin_cyrillic-700.woff") format("woff");
  src: url("../assets/fonts/merriweather-v28-latin_cyrillic-700.woff2") format("woff2");
  font-weight: 700;
}
@font-face {
  font-family: Inter;
  font-style: normal;
  font-weight: 400;
  src: url("../assets/fonts/inter-v7-latin_cyrillic-regular.eot") format("woff");
  src: url("../assets/fonts/inter-v7-latin_cyrillic-regular.svg") format("svg");
  src: url("../assets/fonts/inter-v7-latin_cyrillic-regular.ttf") format("ttf");
  src: url("../assets/fonts/inter-v7-latin_cyrillic-regular.woff") format("woff");
  src: url("../assets/fonts/inter-v7-latin_cyrillic-regular.woff2") format("woff2");
}
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

/*--------------------*/
/* 
    порядок определения стилей:
1 позиционирование
2 блочная модель (размеры, отступы)
3 типографика (свойства шрифта)
4 оформление (цвет фона, тень)
5 анимация 
*/
/*---------- visually-hidden ----------*/
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/*---------- end visually-hidden ----------*/
/*---------- временные ----------*/
header,
main,
footer {
  border: 1px solid red;
}

section,
nav {
  border: 1px solid green;
}

.header-nav > * {
  border: 1px solid yellow;
}

.section-item a {
  color: #829985;
  text-decoration: none;
  transition: color 0.5s;
}

.section-item a:hover {
  color: #4d2323;
}

body {
  background-color: #000;
}

/*---------- end временые ----------*/
/*---------- general properties ----------*/
body {
  font-family: "Inter", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px;
  text-align: left;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 20px;
  color: #ffffff;
}

.section {
  margin-bottom: 100px;
}

.section__title {
  display: flex;
  flex-direction: row;
  margin-bottom: 60px;
  font-family: "Merriweather", serif;
  font-size: 40px;
  font-weight: 700;
  line-height: 80px;
  text-align: center;
  color: #bdae82;
}

.section__title::after {
  content: "";
  flex: 1 1;
  border-bottom: 2px solid #bdae82;
  margin: auto;
  margin-right: 370px;
  margin-left: 20px;
}

.section__title::before {
  content: "";
  flex: 1 1;
  border-bottom: 2px solid #bdae82;
  margin: auto;
  margin-right: 20px;
  margin-left: 370px;
}

.btn {
  width: 220px;
  height: 55px;
  font-size: 20px;
  text-align: center;
  background-color: #bdae82;
  color: #000000;
}

.btn:hover {
  color: #ffffff;
}

.btn:active {
  font-weight: 700;
}

.link,
.link:visited {
  font-family: Inter;
  font-size: 20px;
  font-weight: 400;
  line-height: 50px;
  text-align: left;
  color: #ffffff;
}

.link:hover {
  color: #bdae82;
}

/*---------- end general properties ----------*/
/*---------- header ----------*/
.header {
  height: 90px;
  background-image: url(../assets/img/background/bg.jpg);
  background-repeat: no-repeat;
  background-position: center 0;
}

.logo {
  margin-top: 25px;
  float: left;
  width: 50px;
  height: 40px;
  cursor: pointer;
}

.header-nav {
  display: flex;
  justify-content: flex-end;
}

.nav__list,
.language__list {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__list {
  padding-right: 31px;
}

.nav__link {
  line-height: 50px;
}

.nav__link:not(last-child) {
  padding-right: 30px;
}

.language__item:not(last-child) {
  padding-right: 9px;
}

.language__link,
.language__item {
  font-family: Inter;
  font-size: 20px;
  font-weight: 700;
  line-height: 50px;
  text-align: center;
}

.language__link:hover {
  font-weight: 400;
  color: #ffffff;
}

.language__link_active,
.language__link_active:visited {
  color: #bdae82;
}

/*---------- end header ----------*/
/*---------- section hero ----------*/
.hero {
  height: 910px;
  padding-top: 160px;
  margin-bottom: 10px;
  background-image: url(../assets/img/background/bg.jpg);
  background-position: center -90px;
  background-repeat: no-repeat;
}

.main__inner {
  width: 470px;
  padding-left: 80px;
}

.main__title {
  padding-bottom: 10px;
  font-family: "Merriweather", serif;
  font-size: 60px;
  font-weight: 700;
  line-height: 120px;
}

.main__text {
  padding-bottom: 25px;
}

/*---------- end section hero ----------*/
/*---------- section skills ----------*/
.skills-wrap {
  display: flex;
  justify-content: space-between;
  text-align: center;
}

.skills-wrap__item {
  flex: 0 0 280px;
}

.skills-wrap__img {
  margin-bottom: 50px;
  height: 50px;
}

.skills-wrap__title {
  margin-bottom: 20px;
  font-weight: 700;
  line-height: 40px;
}

.skills-wrap__text {
  font-size: 18px;
  line-height: 36px;
}

/*---------- end section skills ----------*/
/*---------- section portfolio ----------*/
/*---------- end section portfolio ----------*/
/*---------- section video ----------*/
/*---------- end section video ----------*/
/*---------- section price ----------*/
/*---------- end section price ----------*/
/*---------- section contacts ----------*/
/*---------- end section contacts ----------*/
/*---------- footer ----------*/
.footer__inner {
  display: flex;
  justify-content: space-around;
}

.footer__logo-img {
  right: 0;
  width: 60px;
}

/*---------- end footer ----------*/